<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.michaelcarrano.seven_min_workout"
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:debuggable="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name="com.michaelcarrano.seven_min_workout.WorkoutListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.michaelcarrano.seven_min_workout.WorkoutDetailActivity"
            android:parentActivityName=".WorkoutListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".WorkoutListActivity" />
        </activity>
        <activity
            android:name="com.michaelcarrano.seven_min_workout.WorkoutCountdownActivity"
            android:parentActivityName=".WorkoutListActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".WorkoutListActivity" />
        </activity>

        <activity
            android:name="com.michaelcarrano.seven_min_workout.AboutActivity"
            android:parentActivityName=".WorkoutListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".WorkoutListActivity" />
        </activity>

        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="3fb5327e30111ad3ebb87c0769045f97c142cf2c" />
    </application>

</manifest>
